parameters:
    level: 9
    paths:
        - src/php
    bootstrapFiles:
        - src/php/vendor/autoload.php
    excludePaths:
        - src/php/vendor
    scanDirectories:
        - src/php/vendor