.app-name a img {
    max-width: 80%
}

#sidebar-version {
	margin-top: 2rem;
	padding: 15px;
	font-size: 0.8rem;
	border-top: solid 1px #cacaca;
}

/*body, aside.sidebar {*/
/*    background-color: #ffffe6;*/
/*}*/

/*body,*/
/*.anchor span,*/
/*.markdown-section strong {*/
/*    color: #181818;*/
/*}*/